# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  workflow_dispatch:
    inputs:
      #image_url:
      #  description: 'Docker url to execute'
      #default: "ghcr.io/meta-introspector/o1js/o1js-perf-recording:5ce0221662cecbca9a3de05601af94a15b154a3bcf8bafcb0cfa1f5b9f407bdc"
      #default: "ghcr.io/meta-introspector/o1js/o1js-perf-recording:latest"

  push:
    branches: [ "main","feature/multi-o1js" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        o1js-version: [

        # from git found these tags
        # 0.10.0,
        # 0.10.1,0.11.0,0.11.1,0.11.2,0.11.3,0.11.4,0.12.1,0.12.2,0.14.0,0.14.3,0.15.0,0.15.1,0.15.2,0.15.3,0.15.4,0.16.0,0.16.1,0.16.2,0.17.0,0.18.0,0.2.0,0.2.2,0.3.4,0.3.7,0.5.3,0.5.4,0.6.0,0.7.0,0.7.2,0.7.3,
        # 0.8.0,0.9.0,0.9.1,0.9.2,0.9.5,0.9.7,0.9.8,1.0.0,1.0.1,1.1.0,1.2.0, 1.3.0
        
        1.9.0,1.8.0,1.7.0,1.6.0
#1.5.1
#1.5.0
#1.4.0
# 1.3.1
# 1.3.0
# 1.2.0
# 1.1.0
# 1.0.1
# 0.18.0
# 0.17.0
# 0.16.2
# 0.16.1
# 0.16.0
# 0.15.4
# 0.15.3
# 0.15.2
# 0.15.1
# 0.15.0
# 0.14.2
# 0.14.1
# 0.14.0
# 0.13.1
# 0.13.0
# 0.12.2
# 0.12.1

        ]
        node-version: [
      #  18.x
      , 20.x
      , 21.x
      , 22.x
        ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: meta-introspector/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: meta-introspector/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    # replace the version number
    - run: sed -e's!O1JSVERSION!${{ matrix.o1js-version }}!g' package.json.template> package.json
    - run: cp test-env.json  env.json
    - run: npm install
    - run: npm ci
    - run: npm run build --if-present
    - run: |
        export NODE_OPTIONS="--prof"
        npm test
        
    - run: |
        export NODE_OPTIONS="--prof --heap-prof"
        npm test

#NODE_ENV=production node --prof
#
